# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.42.0
    hooks:
      - id: cfn-lint
        files: .template\.ya?ml$
