version = 0.1
[dev]
[dev.deploy]
[dev.deploy.parameters]
stack_name = "kbv-example"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-1bcgk7c5b2imd"
s3_prefix = "kbv-example"
region = "eu-west-2"
capabilities = "CAPABILITY_IAM"
disable_rollback = true
parameter_overrides = "CodeSigningConfigArn=\"none\" Environment=\"dev\" PermissionsBoundary=\"none\" SecretPrefix=\"none\", CodeSigningEnabled=\"false\", CommonStackName=\"kbv-common-cri-api\", SecretPrefix=\"kbv-cri-api\""
image_repositories = []
