name: Scan repository

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    # Every Monday at 9am
    - cron: "0 9 * * 1"

concurrency:
  group: scan-repo-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: read-all

jobs:
  unit-tests:
    name: Test coverage
    uses: ./.github/workflows/run-unit-tests.yml
    with:
      coverage-report: true

  sonarcloud:
    name: SonarCloud
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.13'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: gradle

      - name: Cache build artifacts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-kbv-api-java-${{ github.head_ref || github.ref_name }}
          restore-keys: ${{ runner.os }}-kbv-api-java-
          path: |
            **/*/build/
            !**/*/build/jacoco
            !**/*/build/reports

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
          path: ~/.sonar/cache

      - name: Get coverage results
        uses: actions/download-artifact@v6
        with:
          name: ${{ needs.unit-tests.outputs.coverage-artifact }}

      - name: Run SonarCloud scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar --build-cache --parallel --info

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Pull repository
        uses: actions/checkout@v4

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.13'

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: gradle

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java
          build-mode: manual

      - name: Gradle build
        run: ./gradlew build --no-daemon --stacktrace

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3